
<h1>Dashboard</h1>
<div>
  <%= link_to '歩いた記録を追加する', {:controller => 'user_records', :action => 'new'}, :class => 'button icon add' %>
</div>
<br>

<div>
  <table class="dashboard">
    <thead>
    <tr>
      <td>順位</td>
      <td>人</td>
      <td>現在地</td>
      <td>累計距離</td>
      <td>累計歩数</td>
      <td>登録最終日</td>
    </tr>
    </thead>
    <tbody>
    <% @current_statuses.each_with_index do |status, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= link_to image_tag(status.user.image, :alt => status.user.nickname), user_records_of_user_path(:user_id => status.user_id) %></td>
          <td>
            <%= status.location.number %>: <%= status.location.name %> <br>
            次の <%= status.next_location.name %> まで あと <%= sprintf('%3.2f', status.next_distance) %> Km
          </td>
          <td><%= sprintf('%3.2f', status.total_distance) %> Km </td>
          <td><%= status.total_step %> 歩</td>
          <td><%= status.last_walk_day %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>