<%= link_to 'Logout', destroy_user_session_path %>
<h1>Home</h1>
<%= image_tag @user.image %>
<br>
<%= link_to 'settings', @user_setting %>
<br>
<%= link_to 'add records', :controller => :user_records, :action => :new %>



<br>
<%= @user.inspect %>

