%h1 Dashboard
%div
  = link_to '歩いた記録を追加する', {:controller => 'user_records', :action => 'new'}, :class => 'button icon add'
  %div(style="float:right;")
    %span
      = link_to '順路版を表示', '/?reverse_mode=0', :class => 'button'
      = link_to '逆路版を表示', '/?reverse_mode=1', :class => 'button'
      %a(class="button icon add" id="kml_add") お遍路を表示
  %div(style="clear:right")
%br

#map(style="height: 400px")
%br
%div
  %table.dashboard
    %thead
      %tr
        %td 順位
        %td 人
        %td 現在地
        %td 累計距離
        %td 累計歩数
        %td 登録最終日
    %tbody
      - @current_statuses.each_with_index do |status, i|
        %tr
          %td= i+1
          %td= link_to image_tag(status.user.image, :alt => status.user.nickname), user_records_of_user_path(:user_id => status.user_id)
          %td
            = status.location.number
            \: #{status.location.name}
            %br
            次の #{status.next_location.name} まで あと #{sprintf('%3.2f', status.next_distance)} Km
          %td
            = sprintf('%3.2f', status.total_distance)
            Km
          %td
            = status.total_step
            歩
          %td= status.last_walk_day

= content_tag :script, type: 'text/javascript' do
  Map({
  canvas: '#map',
  kml: 'kml',
  reverse_mode: #{@reverse_mode},
  kml_url: "https://maps.google.co.jp/maps/ms?ie=UTF8&authuser=0&msa=0&output=kml&msid=205328521189507590527.0004df7bb3d55d4369ee1"
  }).init()

- content_for :head do
  = google_javascript_tag



