<%= form_for(@user_record) do |f| %>
  <% if @user_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_record.errors.count, "error") %> prohibited this user_record from being saved:</h2>

      <ul>
      <% @user_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day, '日付' %><br>
    <%= f.date_select :day, :default => Date.yesterday, :use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label :steps, '歩数' %><br>
    <%= f.number_field :steps, :onchange => "$('#user_record_distance').val('%.2f'.sprintf(this.value * #{@user_setting.step_dist.to_s.to_f/100000.0}))" %>
  </div>
  <div class="field">
    <%= f.label :distance, '距離(Km)' %><br>
    <%= f.text_field :distance %>
  </div>
  <div class="actions">
    <%= f.submit '登録する', :class => 'button icon edit'%>
  </div>
<% end %>
