<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_record.user_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @user_record.day %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @user_record.steps %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @user_record.distance %>
</p>

<%= link_to '編集', edit_user_record_path(@user_record), :class => 'button' %>
<%= link_to '追加入力', user_records_path, :class => 'button icon add' %>
<%= link_to '記録一覧', user_records_path, :class => 'button icon log' %>
<%= link_to 'Dashboard', root_path, :class => 'button icon home' %>

