<div style="width: 80%">
  <%= form_for(@user_setting) do |f| %>
      <% if @user_setting.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user_setting.errors.count, "error") %> prohibited this user_setting from being saved:</h2>

            <ul>
              <% @user_setting.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      歩幅: <%= f.text_field :step_dist, :size => 10 %> cm<br>

      <br>
      <br>
      <div class="actions">
        <%= f.submit '保存する', :class => 'button icon edit' %>
      </div>
  <% end %>
</div>
